mat-card {
  cursor: pointer;
}

.content > mat-card {
  margin-bottom: 16px;
}

.content > mat-card {
  width: 200px;
}

.title-container {
  height:  64px;

  overflow: hidden;
  font-size: 14px;
  text-align: center;
}

.card-content {
  color: #B12704;
  text-align: center;
}

img {
  object-fit: contain;
  height: 300px;
}
