<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="addressForm">
    <div class="set-default" style="display: flex; flex-direction: row-reverse; margin-bottom: 10px;">
      <button mat-stroked-button color="primary">Set as Default Address</button>
    </div>

    <form [formGroup]="addressForm" class="form-stepper">
      <ng-template matStepLabel>Shipping Address</ng-template>

      <mat-form-field class="mat-input">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First name" formControlName="firstName" required>
        <mat-error *ngIf="addressForm.controls['firstName'].hasError('required')">
          First Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mat-input">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" formControlName="lastName" required>
        <mat-error *ngIf="addressForm.controls['lastName'].hasError('required')">
          Last Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mat-input">
        <mat-label>Street</mat-label>
        <input matInput placeholder="Street" formControlName="street" required>
        <mat-error *ngIf="addressForm.controls['street'].hasError('required')">
          Street is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mat-input">
        <mat-label>City</mat-label>
        <input matInput placeholder="City" formControlName="city" required>
        <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
          City is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mat-input">
        <mat-label>State</mat-label>
        <input matInput placeholder="State" formControlName="state" required>
        <mat-error *ngIf="addressForm.controls['state'].hasError('required')">
          State is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mat-input">
        <mat-label>ZipCode</mat-label>
        <input matInput placeholder="ZipCode" formControlName="zipCode" required>
        <mat-error *ngIf="addressForm.controls['zipCode'].hasError('required')">
          ZipCode is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
    <div class="next-container" style="display: flex; flex-direction: row-reverse;">
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="deliveryForm" label="Delivery">
    <form [formGroup]="deliveryForm" class="form-stepper">
      <mat-radio-group  *ngFor="let method of deliveryMethods" formControlName="deliveryMethod">
        <mat-radio-button value="{{method.id}}">
          <b>{{method.shortName}} - {{method.price | currency}}</b>
          <p>{{method.description}}</p>
        </mat-radio-button>
      </mat-radio-group>
    </form>
    <div style="display: flex; justify-content: space-between; margin-top: 20px;">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
</mat-stepper>
