.container {
  display: flex;
  flex-direction: column;
  width: 1300px;
  min-height: 100%;
  margin: 0 auto;
  margin-top: 0px;
  margin-top: 40px;

  padding: 15px;
}

.main-checkout {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
