<mat-toolbar color="primary">
  <div class= "logo" (click)="loadHome()">
    <span>BookStore</span>
  </div>
  <span class="toolbar-spacer"></span>
  <a routerLink="/basket" mat-icon-button class="example-icon" aria-label="Basket icon">
    <mat-icon *ngIf="(basketService.basketSource$ | async) as basket"
              matBadge="{{getCount(basket.items)}}"
              matBadgeColor="warn"
              >shopping_cart
    </mat-icon>
    <mat-icon *ngIf="!(basketService.basketSource$ | async) as basket"
              >shopping_cart
    </mat-icon>
  </a>
  <button mat-icon-button class="example-icon" aria-label="Account icon">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

