<div class="main-container">
  <mat-drawer-container class="side-nav-container">
    <mat-drawer mode="side" opened class="side-nav">
      <h4 class="filter-type">Sort</h4>
      <mat-form-field>
        <mat-select name="sort" (selectionChange)="onSortSelected($event)" [(value)]="shopParams.sort">
          <mat-option *ngFor="let sort of sortOptions" [value]="sort.value">
            {{sort.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <h4 class="filter-type">Categories</h4>
      <mat-list>
        <mat-list-item
          *ngFor="let category of categories"
          style="cursor: pointer"
          [activated]="category.id === shopParams.categoryId"
          (click) ="onCategorySelected(category.id)"
          >{{category.name}}
        </mat-list-item>
    </mat-list>

      <h4 class="filter-type">Formats</h4>
      <mat-list>
        <mat-list-item
          *ngFor="let format of formats"
          style="cursor: pointer"
          [activated]="format.id === shopParams.formatId"
          (click)="onFormatSelected(format.id)"
          >{{format.type}}
        </mat-list-item>
    </mat-list>

    </mat-drawer>
    <mat-drawer-content class="right-nav-content" style="overflow: hidden;">
      <div class="content" fxLayout="row wrap" fxLayoutGap="26px grid">
        <div class="content-search">
          <h3 class="main-text"><b>Best Sellers</b></h3>
          <mat-form-field appearance="fill" style="margin-right: 10px;">
            <mat-label>Search by name</mat-label>
            <input
              matInput
              placeholder="Search by name"
              [(ngModel)]="searchTerm"
              (keyup.enter)="onSearch()"
            />
            <mat-icon (click)="onSearch()" class='search-icon' color="primary" matSuffix
              style="cursor: pointer;"
              >search</mat-icon
            >
          </mat-form-field>
        </div>
        <div
          [fxFlex]="(100/gridColumns) + '%'"
          fxFlex.sm="33%"
          *ngFor="let product of products"
        >
          <app-product-item [product]="product"></app-product-item>
        </div>

        <app-pager
          #paginator
          style="width: 100%;"
          [totalCount]="totalCount"
          [pageSize]="shopParams.pageSize"
          [pageNumber]="shopParams.pageNumber"
          (page)="handlePageEvent($event)"
        >
        </app-pager>

      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
