<div class="main-container">
  <mat-drawer-container class="side-nav-container">
    <mat-drawer mode="side" opened class="side-nav">
      <h4 class="filter-type">Sort</h4>
      <mat-form-field>
        <mat-label>Select method</mat-label>
        <mat-select name="sort">
          <mat-option>
            Alphabetical
          </mat-option>
          <mat-option>
            Price: Low To High
          </mat-option>
          <mat-option>
            Price: High to Low
          </mat-option>
        </mat-select>
      </mat-form-field>

      <h4 class="filter-type">Categories</h4>
      <mat-list>
        <mat-list-item
          *ngFor="let category of categories"
          style="cursor: pointer"
          [activated]="category.id === categoryIdSelected"
          (click) ="onCategorySelected(category.id)"
          >{{category.name}}
        </mat-list-item>
     </mat-list>

      <h4 class="filter-type">Formats</h4>
      <mat-list>
        <mat-list-item
          *ngFor="let format of formats"
          style="cursor: pointer"
          [activated]="format.id === formatIdSelected"
          (click)="onFormatSelected(format.id)"
          >{{format.type}}
        </mat-list-item>
     </mat-list>

    </mat-drawer>
    <mat-drawer-content class="right-nav-content" style="overflow: hidden;">
      <div class="content" fxLayout="row wrap" fxLayoutGap="26px grid">
        <div class="content">
          <h3 class="main-text"><b>Best Sellers</b></h3>
          <span> Showing <strong>6</strong> of <strong>11</strong> results</span>
        </div>
        <div
          [fxFlex]="(100/gridColumns) + '%'"
          fxFlex.sm="33%"
          *ngFor="let product of products"
        >
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
